<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AirLineReservationSystem.Properties.Settings.AirlineReservationConnectionString"
      connectionString="Data Source=DESKTOP-K812ALD;Initial Catalog=AirlineReservation;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AirLineReservationSystem.Properties.Settings.AirlineReservationConnectionString1"
      connectionString="Data Source=DESKTOP-3J4O6R9;Initial Catalog=AirlineReservation;User ID=AirRes"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>    
    <add key="cs" value="Data Source=DESKTOP-3J4O6R9;Initial Catalog=AirlineReservation;User ID=AirRes;Password=AirRes#$"/>
    <add key="aun" value="ZfGkFXxfxY9kLOsNUXK6jw=="/>
    <add key="apd" value="3kxs367lJhBkDaImU/L0Tw=="/>   
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="passPhrase" value="!@#2#hh$pL%^}*4%)(?}{)HC|B)(?}{)C|DB+}?O{[a^%G@!@#hh$%^}*()76_+}?{[8]!@#|}*8[j]|+}?" />
    <add key="initVector" value="tu89geji340t89u2" />
    <add key="keysize" value="256" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
