<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2022.10.9622" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.10.9530" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2022.10.9622" targetFramework="net472" />
  <package id="Microsoft.Office.Excel" version="14.0.4760.1000" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="VisualBasic.PowerPacks.Vs" version="1.0.0" targetFramework="net472" />
</packages>